nodered/seed/flows.json
[
    {
        "id": "425134e6f92c287b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "99da53fc42257afc",
        "type": "http request",
        "z": "425134e6f92c287b",
        "name": "Hue PUT",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.0.10.17/api/QMT6AMNvGQ23MsIGacyAYile7sXyRAcNWqxEGEQN/groups/87/action",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1640,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "be497e1990d93e42",
        "type": "inject",
        "z": "425134e6f92c287b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\": false}",
        "payloadType": "json",
        "x": 1370,
        "y": 500,
        "wires": [
            [
                "99da53fc42257afc"
            ]
        ]
    },
    {
        "id": "b8e82f8162457fe7",
        "type": "inject",
        "z": "425134e6f92c287b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\": true}",
        "payloadType": "json",
        "x": 1380,
        "y": 560,
        "wires": [
            [
                "99da53fc42257afc"
            ]
        ]
    },
    {
        "id": "e8c51f80370c6270",
        "type": "mqtt in",
        "z": "425134e6f92c287b",
        "name": "From LOGO: hi",
        "topic": "logo-pub/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "2fd7822fd9be576d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "json_parse",
                "dbg_raw"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "425134e6f92c287b",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 680,
        "wires": [
            [
                "fn_extract",
                "dbg_parsed"
            ]
        ]
    },
    {
        "id": "fn_extract",
        "type": "function",
        "z": "425134e6f92c287b",
        "name": "Extract Short/Long Press PB1 - Bruno's Office",
        "func": "// Expect: msg.payload is an object\nconst rep = msg.payload.state && msg.payload.state.reported;\nconst sp  = rep && rep.PB1ShortPress;\n\nif (!sp || !Array.isArray(sp.value) || sp.value.length === 0) {\n  return null; // path missing or value not a non-empty array\n}\n\nconst extracted = sp.value[0];   // as-is (could be \"0\"/0)\nmsg.payload = extracted;         // put the extracted value into payload\n// optionally normalize to number:\nmsg.payload = Number(extracted);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 680,
        "wires": [
            [
                "sw_shortpress",
                "dbg_value"
            ]
        ]
    },
    {
        "id": "sw_shortpress",
        "type": "switch",
        "z": "425134e6f92c287b",
        "name": "ShortPress 0 vs 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 680,
        "wires": [
            [
                "259d999fce27407f"
            ],
            [
                "c8e8a69c83d1830a"
            ]
        ]
    },
    {
        "id": "dbg_raw",
        "type": "debug",
        "z": "425134e6f92c287b",
        "name": "RAW (topic+payload)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 780,
        "wires": []
    },
    {
        "id": "dbg_parsed",
        "type": "debug",
        "z": "425134e6f92c287b",
        "name": "PARSED JSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 780,
        "wires": []
    },
    {
        "id": "dbg_value",
        "type": "debug",
        "z": "425134e6f92c287b",
        "name": "ShortPress value",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 780,
        "wires": []
    },
    {
        "id": "259d999fce27407f",
        "type": "function",
        "z": "425134e6f92c287b",
        "name": "Lights Off Payload",
        "func": "msg.payload = '{\"on\": false}'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 620,
        "wires": [
            [
                "99da53fc42257afc"
            ]
        ]
    },
    {
        "id": "c8e8a69c83d1830a",
        "type": "function",
        "z": "425134e6f92c287b",
        "name": "Lights On Payload",
        "func": "msg.payload = '{\"on\": true}'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "99da53fc42257afc"
            ]
        ]
    },
    {
        "id": "1f4e990d7f4f7a47",
        "type": "comment",
        "z": "425134e6f92c287b",
        "name": "PB1 - Prekidac pored vrata - upravljanje sjever-istok stropno zidnom rasvjetom",
        "info": "",
        "x": 900,
        "y": 620,
        "wires": []
    },
    {
        "id": "2fd7822fd9be576d",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
