nodered-migrate/.flows.json.backup
[
    {
        "id": "425134e6f92c287b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2fd7822fd9be576d",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "10.0.10.20",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "broker_cfg",
        "type": "mqtt-broker",
        "name": "Your MQTT Broker",
        "broker": "mosquitto",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "6b357fcdc373403b",
        "type": "comment",
        "z": "425134e6f92c287b",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "99da53fc42257afc",
        "type": "http request",
        "z": "425134e6f92c287b",
        "name": "Hue PUT",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.0.10.17/api/QMT6AMNvGQ23MsIGacyAYile7sXyRAcNWqxEGEQN/groups/87/action",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2260,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "be497e1990d93e42",
        "type": "inject",
        "z": "425134e6f92c287b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\": false}",
        "payloadType": "json",
        "x": 1950,
        "y": 460,
        "wires": [
            [
                "99da53fc42257afc"
            ]
        ]
    },
    {
        "id": "b8e82f8162457fe7",
        "type": "inject",
        "z": "425134e6f92c287b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\": true}",
        "payloadType": "json",
        "x": 1940,
        "y": 540,
        "wires": [
            [
                "99da53fc42257afc"
            ]
        ]
    },
    {
        "id": "e8c51f80370c6270",
        "type": "mqtt in",
        "z": "425134e6f92c287b",
        "name": "From LOGO: hi",
        "topic": "logo/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "2fd7822fd9be576d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 680,
        "y": 780,
        "wires": [
            [
                "json_parse",
                "dbg_raw"
            ]
        ]
    },
    {
        "id": "5217d6f1f9ab60d5",
        "type": "debug",
        "z": "425134e6f92c287b",
        "name": "See payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 700,
        "wires": []
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "425134e6f92c287b",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1180,
        "y": 780,
        "wires": [
            [
                "fn_extract",
                "dbg_parsed"
            ]
        ]
    },
    {
        "id": "fn_extract",
        "type": "function",
        "z": "425134e6f92c287b",
        "name": "Extract ShortPress (+edge filter)",
        "func": "// Expect: msg.payload is an object\nconst rep = msg.payload.state && msg.payload.state.reported;\nconst sp  = rep && rep.ShortPress;\n\nif (!sp || !Array.isArray(sp.value) || sp.value.length === 0) {\n  return null; // path missing or value not a non-empty array\n}\n\nconst extracted = sp.value[0];   // as-is (could be \"0\"/0)\nmsg.payload = extracted;         // put the extracted value into payload\n// optionally normalize to number:\nmsg.payload = Number(extracted);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 780,
        "wires": [
            [
                "sw_shortpress",
                "dbg_value"
            ]
        ]
    },
    {
        "id": "sw_shortpress",
        "type": "switch",
        "z": "425134e6f92c287b",
        "name": "ShortPress 0 vs 1",
        "property": "shortPress",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1670,
        "y": 780,
        "wires": [
            [
                "259d999fce27407f"
            ],
            [
                "c8e8a69c83d1830a"
            ]
        ]
    },
    {
        "id": "dbg_raw",
        "type": "debug",
        "z": "425134e6f92c287b",
        "name": "RAW (topic+payload)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 840,
        "wires": []
    },
    {
        "id": "dbg_parsed",
        "type": "debug",
        "z": "425134e6f92c287b",
        "name": "PARSED JSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 840,
        "wires": []
    },
    {
        "id": "dbg_value",
        "type": "debug",
        "z": "425134e6f92c287b",
        "name": "ShortPress value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 840,
        "wires": []
    },
    {
        "id": "259d999fce27407f",
        "type": "function",
        "z": "425134e6f92c287b",
        "name": "Lights Off Payload",
        "func": "msg.payload = '{\"on\": false}'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 660,
        "wires": [
            [
                "99da53fc42257afc"
            ]
        ]
    },
    {
        "id": "c8e8a69c83d1830a",
        "type": "function",
        "z": "425134e6f92c287b",
        "name": "Lights On Payload",
        "func": "msg.payload = '{\"on\": true}'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 780,
        "wires": [
            [
                "99da53fc42257afc"
            ]
        ]
    }
]